@import "https://fonts.googleapis.com/earlyaccess/droidarabickufi.css";
a:visited, a:hover, a:focus {
text-decoration: none;
color: #fff;
}
:root {
 color-scheme: dark;
}
body {
 background-image: url('https://static.wixstatic.com/media/608731_91d519c21d5144b39ec613f423e940f5~mv2.gif');
 font-family: 'Rajdhani', sans-serif;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0;
 text-align: center;
 align-items: center;
 justify-content: center;
}
p {
 text-align: center;
 max-width: 100%;
 color: #ff000070;
 font-size:46px;
}
.font2{
color:rgb(255, 0, 0);
}
audio{
border-radius: 20px;
background-color: #0000;
}
.logo{
width: 100%;
height: auto;
}
@media (max-width: 500px) {
.logo{
width: 100%;
height: auto;
}
.hk{
width:80%;
height: auto;
}
}
#f1{
font-size:1.7rem;
font-family: Iceland;
}
a:link{
color: #FFFFFF;
padding: 10px 25px;
text-decoration: none;
display: inline-block;
}
#btmn{
align-items: center;
text-align: center;
display: flex;
}
#btm{
font-size: 20px;
width: 60%;
text-align: center;
color:#fff;
}
hr{
width: 70%;
border-radius: 25px;
color: rgb(255, 0, 0);
}
@media (max-width: 734px) {
hr{
width: 45%;
}

}
@media (max-width: 536px){
hr{
width: 26%;
}
}
.modal.active #closeBtn {
    pointer-events: auto;
}
body.modal-active {
    pointer-events: none;
}
    .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    overflow: auto;
    z-index: 1000 !important;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 10px;
    border: 1px solid #ff0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.modal div{
background-color: #000;
}
.modal div, div, p{
font-size:35px;
color:red;
}
button {
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid rgb(174, 6, 8);
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  border-radius: 25px;
  padding: 4px 21px;
}

button:hover {
  background-color: rgb(174, 6, 8);
  color: white; 
}
#closeBtn{
    padding: 3px 27px;
    
}
.modal-content{
    border-width: 3px;
    border-color: rgb(174, 6, 8);
}
@media (max-width: 536px){
.modal-content{
    width: 90%;
    padding: 10px; 
}
.modal div, div, p{
    font-size: 25px;
}
}
@media (max-width: 936px){
.modal-content{
    width: 90%;
    padding: 10px; 
}
.modal div, div, p{
    font-size: 25px;
}
}
